num = 6
if num % 2 == 0:

In [1]:
num = 6
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
print("even") if num % 2 == 0 else print("odd")

even

In [15]:
num = int(input("Enter nunber: "))
if num % 2 == 0:
    print("even")
else:
    print("odd")

Enter nunber:  48

even

In [11]:
x = 10
result = "Positive" if x > 0 else print("negative")
print(result)

Positive

In [13]:
age = 18
category = "Adult" if age >= 18 else print("child")
print(category)

Adult

In [19]:
num = int(input("Enter nunber: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else zero)
print(result)

Enter nunber:  48

Positive

In [21]:
L = [1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [23]:
# print even numbers
L = [1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [25]:
# print even numbers
L = [1,9,2,10,56,89]
[x for x in L if x%2 != 0]

[1, 9, 89]

In [31]:
#print updated salaries
#condition is give 20% hike for salaries <= 50000
sal = [40000, 50000, 80000, 45000]
[(x*1.2 if x <= 50000 else x) for x in sal]

[48000.0, 60000.0, 80000, 54000.0]

In [33]:
#Dictionary comprehension
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [35]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}

In [47]:
#define function (reusable)
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [49]:
L = [1,2,3,4,5,6,7,8.9,10]
mean_value(L)

5.211111111111111

In [65]:
def greet(name):
    print(f"Good morning {name}!")
greet("Shheema")

Good morning Shheema!

In [69]:
def greet(name = "shheema"):
    print(f"Good morning {name}!")
greet("Waste fellow")

Good morning Waste fellow!

In [73]:
#function with variable number of arguments
def avg_value(*n):
    l = len(n)
    average = sum(n)/1
    return average
avg_value(10,20, 60,90)

180.0